! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:68002b36, argb:037000f, argb:0003642
rofi.color-normal: argb:d0002b36, #93a1a1, argb:d0184F5C, argb:e06c71c4, #fdf6e3
rofi.color-active: #002b36, #008ed4, #184F5C, #008ed4, #66c6ff
rofi.color-urgent: #002b36, #da4281, #184F5C, #008ed4, #890661


! ------------------------------------------------------------------------------
! DZEN Color theme
! ------------------------------------------------------------------------------
!dzen2.font:       -*-fixed-*-*-*-*-*-*-*-*-*-*-*-*
dzen2.foreground: #22EE11
dzen2.background: black
